# python environment
.env

# special folders
__*__

# special files
key.json
token.json

# editor stuff
*.sublime-project
*.sublime-workspace

# jupyter
**/.ipynb_checkpoints

# python egg files
*.egg
*.egg-info

# dask
**/dask-worker-space

