pandas
numpy
scipy
scikit-learn
tensorflow
keras
matplotlib
tables
sxapi @ git+https://github.com/smaxtec/sxapi.git@SX-2674-internapi-v2#egg=sxapi
anthilldb @ git+https://bitbucket.org/smaxtec/anthilldb.git#egg=anthilldb
