pycodestyle
tqdm
pandas
numpy
scipy
scikit-learn
tensorflow
keras
matplotlib
tables
marshmallow
jupyterlab
ipympl
sxapi @ git+https://github.com/smaxtec/sxapi.git@SX-2674-internapi-v2#egg=sxapi
-e git+https://github.com/wuttem/cdb_ext.git#egg=cdb_ext
-e git://github.com/wuttem/cattledb.git#egg=cattledb
-e git+ssh://git@bitbucket.org/smaxtec/anthilldb.git#egg=anthilldb
-e git+https://bitbucket.org/smaxtec/sxutils#egg=sxutils
